@page "/addholding"
@using Microsoft.AspNetCore.Authorization
@using NetworthApplication.Holdings.AddHolding
@attribute [Authorize]
@inject HttpClient Http

<h1>Add Holding</h1>

<input @bind="ticker" placeholder="ticker" />
<input @bind="buyPrice" placeholder="buyPrice" />
<input @bind="shareNumber" placeholder="shareNumber" type="number" />

<button @onclick="@addHoldingTask">Add</button>

@code {
    private string ticker;
    private double buyPrice;
    private int shareNumber;

    private async Task addHoldingTask()
    {
        var holding = new AddHoldingRequest { Ticker = ticker, BuyPrice = buyPrice, ShareNumber = shareNumber };
        await Http.PostAsJsonAsync("holdings", holding);
    }

}
