@page "/fetchdata"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using NetworthApplication.Securities.Queries.GetSecurityDetails
@attribute [Authorize]
@inject HttpClient Http

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (security == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Ticker</th>
                <th>Industry</th>
                <th>LatestClosePrice</th>
                <th>DividendRate</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@security.Ticker</td>
                <td>@security.Industry</td>
                <td>@security.LatestClosePrice</td>
                <td>@security.DividendRate</td>
            </tr>
        </tbody>
    </table>
}

@code {
    private SecurityVm security;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            security = await Http.GetFromJsonAsync<SecurityVm>("securities?ticker=o");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

}
