@page "/accounts/create"
@using System.Text.Json
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Microsoft.AspNetCore.Http.Extensions
@using NetworthApplication.Accounts
@using NetworthApplication.Accounts.CreateAccount
@using NetworthDomain.Enums

@attribute [Authorize]
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h1>Create</h1>
<h3>Account</h3>
<hr />
<div class="row">
    <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Name" class="control-label">Name</label>
                <input asp-for="Name" class="form-control" @bind="_name" />
            </div>
            <div class="form-group">
                <label asp-for="Institution" class="control-label">Institution</label>
                <select asp-for="Institution" class="form-control" @bind="_institution">
                    <option value="">-- Select Institution --</option>
                    <option value="1">Questrade</option>
                    <option value="2">Wealthsimple</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label">Account Type</label>
                <select asp-for="Type" class="form-control" @bind="_type">
                    <option value="">-- Select Account Type --</option>
                    <option value="1">RRSP</option>
                    <option value="2">TFSA</option>
                    <option value="3">LIRA</option>
                    <option value="4">TAXABLE</option>
                </select>
            </div>
            <div class="form-group">
                <button class="btn btn-default" @onclick="@CreateAccountTask">Save</button>
                <button class="btn" @onclick="@Cancel">Cancel</button>
            </div>
    </div>
</div>

@code {
    private string _name;
    private int _institution;
    private int _type;
    protected async Task CreateAccountTask()
    {
        try
        {
            await Http.PostAsJsonAsync("accounts", new CreateAccountRequest(_name, _institution, _type));
            NavigationManager.NavigateTo("./accounts");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("./accounts");
    }
}